/* FONTS */

@font-face {
    font-family: 'SansationRegular';
    src: url('/public/font/Sansation_Regular-webfont.eot');
    src: url('/public/font/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/font/Sansation_Regular-webfont.woff') format('woff'),
         url('/public/font/Sansation_Regular-webfont.ttf') format('truetype'),
         url('/public/font/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('/public/font/Sansation_Light-webfont.eot');
    src: url('/public/font/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/font/Sansation_Light-webfont.woff') format('woff'),
         url('/public/font/Sansation_Light-webfont.ttf') format('truetype'),
         url('/public/font/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('/public/font/Sansation_Bold-webfont.eot');
    src: url('/public/font/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/font/Sansation_Bold-webfont.woff') format('woff'),
         url('/public/font/Sansation_Bold-webfont.ttf') format('truetype'),
         url('/public/font/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* CLASSES */

.dark-bg {
  background-color: #111;
}

.blue-fg {
  color: #204467;
}

.cream-fg {
  color: #FCFBE3;
}

.container {
  margin-bottom: -10px;
}

/* TAGS */

html, body {
    height: 100%;
}

body {
  background-color: #204467;
}

header {
  padding-top: 150px;
  padding-bottom: -10px;
  text-shadow: #111 0 0 20px;
}

#tagline {
  font: 36px/46px 'SansationRegular', Arial, sans-serif;
  margin-top: 20px;
  text-align: center;
}

header h1 {
  font: 100px/112px 'SansationBold', Arial, sans-serif;
  float: right;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

li {
  font: 24px/30px 'SansationRegular', Arial, sans-serif;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #FCFBE3;
}

a:hover {
  color: #FCFBE3;
  border-bottom: #FCFBE3 1px dotted;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

#links {
  padding-top: 15px;
  text-align: center;
}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
    font: 18px/20px 'SansationRegular', Arial, sans-serif;
}

#small_name {
  font: 54px/60px 'SansationBold', Arial, sans-serif;
  margin-bottom: 30px;
  margin-top: 10px;
  text-shadow: #111 0 0 10px;
}

.title {
  font: 36px/40px 'SansationRegular', Arial, sans-serif;
  text-shadow: #111 0 0 10px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.bio img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bio .name {
  text-align: center;
  margin-top: 10px;
  font: 18px/20px 'SansationRegular', Arial, sans-serif;
}

.spacer {
  padding-top: 4em;
  clear: both;
}

#bounding-box {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

div.small {
  font-size: 120% !important;
  margin-bottom: 0;
}

p {
  color: #FCFBE3;
  font: 24px 'SansationRegular', Arial, sans-serif;
}

h3 {
  color: #FCFBE3;
  font: 32px 'SansationRegular', Arial, sans-serif;
}

.authors img {
  margin-top: 0.5em;
}